{% extends 'admin.html.twig' %}

{% block content_title %}Tags index{% endblock %}

{% block bodyAdmin %}
    <h1>Tags index</h1>

    <table class="table table-striped table-bordered dataTable">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in pagination %}
            <tr>
                <td></td>
                <td>{{ tag.name }}</td>
                <td>{{ tag.createdAt ? tag.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tag.updatedAt ? tag.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admintags_edit', {'id': tag.id}) }}">
                        <i class="fas fa-edit"></i>
                        edit
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admintags_new') }}">Create new</a>
{% endblock %}
