{% extends 'base.html.twig' %}

{% block content_title %}Tags index{% endblock %}

{% block body %}
    <h1>Tags index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.name }}</td>
                <td>{{ tag.createdAt ? tag.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tag.updatedAt ? tag.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admintags_show', {'id': tag.id}) }}">show</a>
                    <a href="{{ path('admintags_edit', {'id': tag.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admintags_new') }}">Create new</a>
{% endblock %}
