{% extends 'admin.html.twig' %}
{% import "admin/macro.html.twig" as macroAdmin %}
{% block bodyAdmin %}
    <div class="row">
        <div class="col-xl-12">
            <table
                id="CrudList"
                class="table table-border table-hover table-striped table-sm thead-light"
                {% if url_enable is defined %}{% for key, val in url_enable %} data-enableurl-{{ key }}="{{ path(val) }}"{% endfor %}{% endif %}
                data-toolbar="#toolbar"
                data-resizable="true"
                data-query-params="queryParams"
                data-page-size="10"
                data-ajax-options="ajaxOptions"
                data-moment="{{ config['moment'][0]['format'] }}"
                data-files="{{ asset('file/') }}"
                data-toggle="table"
                {% if api is defined %} data-url="{{ path(api, api_param) }}"{% endif %}
                data-locale="{{ config['datatable'][0]['lang'] }}"
                data-total-field="count"
                data-show-refresh="true"
                data-show-columns="true"
                data-show-fullscreen="true"
                data-sortable="true"
                data-sort-class="table-active"
                data-side-pagination="server"
                data-sort-stable="true"
                data-search="true"
                data-page-list="{{ config['datatable'][0]['pagelist'] }}"
                data-show-refresh="true"
                data-show-toggle="true"
                data-id-field="id"
                data-pagination="true"
                data-show-export="true"
                data-show-columns-toggle-all="true"
            >
                <thead>
                    <tr>
                        {% if select is defined and dataInTrash is not defined %}
                            <th data-checkbox="true"></th>
                        {% endif %}
                        {% for name, row in datatable %}
                            <th{% for key, val in row %}
                                data-{{ key }}="{% if val == 'true' %}true{% elseif val == 'false' %}false{% else %}{{ val|e }}{% endif %}"
                            {% endfor %} data-sortable="true">
                            {{ name }}</th>
                        {% endfor %}
                        {% if operation is defined %}
                            <th
                                data-formatter="operationDatatable"
                                data-align="center"
                                data-sortable="true"
                                data-valign="top"
                                data-switchable="false"
                            >
                                Opérations
                            </th>
                        {% endif %}
                    </tr>
                </thead>
                {% if dataInTrash is defined %}
                    <tbody>
                        {% for data in dataInTrash %}
                            <tr>
                                {% for name, row in datatable %}
                                    <td>
                                        {% set field = row.field %}
                                        {% if field == 'updatedAt' or field == 'createdAt' or field == 'deletedAt' %}
                                            {{ data|crudExist(field)|date("Y-m-d\\TH:i:sP") }}
                                        {% else %}
                                            {{ data|crudExist(field) }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                                {% if operation is defined %}
                                    <td>
                                        {{ data.id }}
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div>
    </div>
    <div class="d-none OperationCrud">
        {{ macroAdmin.operation('code', operation_link) }}
    </div>
{% endblock %}
