{% extends 'base.html.twig' %}
{% block page_title %}Post{% endblock %}
{% block body %}
    <div class="container">
        <div class="col-md-10">
            {% for post in pagination %}
                <h2>{{ post.name }}</h2>
                {% if post.file %}
                    <img src="{{ asset('file/'~post.file) }}" title="{{ post.name|e }}" class="img-fluid" />
                {% endif %}
                <div><a href="{{ path('posts_user',{'user': post.refuser.id}) }}">{{ post.refuser }}</a></div>
                <div>créer le {{ post.createdAt|date }} et modifier le {{ post.updatedAt|date }}</div>
                <div>TAGS : {% for tag in post.tags %}
                    <a href="{{ path('posts_tag',{'slug': tag.slug}) }}">{{ tag.name }}</a>
                {% endfor %}</div>
                <div>categorie : <a href="{{ path('posts_category',{'slug': post.refcategory.slug}) }}">{{ post.refcategory.name }}</a></div>
                <div>
                    {{ post.content|raw }}
                </div>
                <a href="{{ path('posts_show',{'slug': post.slug}) }}">Lire la suite</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
