{% import "macro.html.twig" as macroSite %}
{% extends 'site.html.twig' %}
{% block page_title %}Weblog{% endblock %}
{% block bodySite %}
    <div class="container">
        <div class="col-md-12">
            {% for post in pagination %}
                <h2>{{ post.name }}</h2>
                {% if post.file %}
                    <img src="{{ asset('file/'~post.file) }}" title="{{ post.name|e }}" class="img-fluid" />
                {% endif %}
                <ul>
                    <li>
                        Créer par: <a href="{{ path('posts_user', {'user': post.refuser.id}) }}">
                            {{ macroSite.user(post.refuser) }}
                        </a>
                    </li>
                    <li>
                        Créer le: {{ macroSite.timeago(post.createdAt) }}
                    </li>
                    <li>
                        Modifier le: {{ macroSite.timeago(post.updatedAt) }}
                    </li>
                    <li>
                        <i class="fas fa-tags"></i>
                        Tags :
                        <ul class="list-inline">
                            {% for tag in post.tags %}
                                <li class="list-inline-item">
                                    <a href="{{ path('posts_tag',{'slug': tag.slug}) }}">
                                        <i class="fas fa-tag"></i>
                                        <span>
                                            {{ tag.name }}
                                        </span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        Catégorie: <a href="{{ path('posts_category',{'slug': post.refcategory.slug}) }}">
                            {{ post.refcategory.name }}
                        </a>
                    </li>
                </ul>
                <div>
                    {{ post.content|raw }}
                </div>
                <a href="{{ path('posts_show',{'slug': post.slug}) }}">Lire la suite</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
