{% extends 'site.html.twig' %}
{% block page_title %}{{ entity.name }}{% endblock %}

{% block bodySite %}
    <div class="container">
        <div class="col-md-12">
            <h2>{{ entity.name }}</h2>
            {% if entity.file %}
                <img src="{{ asset('file/'~entity.file) }}" title="{{ entity.name|e }}" class="img-fluid" />
            {% endif %}
            <div><a href="{{ path('posts_user',{'user': entity.refuser.id}) }}">{{ entity.refuser }}</a></div>
            <div>créer le {{ entity.createdAt|date }} et modifier le {{ entity.updatedAt|date }}</div>
            <div>TAGS : {% for tag in entity.tags %}
                <a href="{{ path('posts_tag',{'slug': tag.slug}) }}">{{ tag.name }}</a>
            {% endfor %}</div>
            <div>categorie : <a href="{{ path('posts_category',{'slug': entity.refcategory.slug}) }}">{{ entity.refcategory.name }}</a></div>
            <div>
                {{ entity.content|raw }}
            </div>
        </div>
    </div>
{% endblock %}
