{% import "macro.html.twig" as macroSite %}
{% extends 'site.html.twig' %}
{% block page_title %}{{ entity.name }}{% endblock %}
{% block bodySite %}
    <div class="container">
        <div class="col-md-12">
            <h2>{{ entity.name }}</h2>
            {% if entity.file %}
                <img src="{{ asset('file/'~entity.file) }}" title="{{ entity.name|e }}" class="img-fluid" />
            {% endif %}
            <ul>
                <li>
                    Créer par: <a href="{{ path('posts_user',{'user': entity.refuser.id}) }}">
                        {{ macroSite.user(entity.refuser) }}
                    </a>
                </li>
                <li>
                    Créer le: {{ macroSite.timeago(entity.createdAt) }}
                </li>
                <li>
                    Modifier le: {{ macroSite.timeago(entity.updatedAt) }}
                </li>
                <li>
                    <i class="fas fa-tags"></i>
                    Tags:
                    <ul class="list-inline">
                        {% for tag in entity.tags %}
                            <li class="list-inline-item">
                                <a href="{{ path('posts_tag',{'slug': tag.slug}) }}">
                                    <i class="fas fa-tag"></i>
                                    <span>
                                        {{ tag.name }}
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    Catégorie: <a href="{{ path('posts_category',{'slug': entity.refcategory.slug}) }}">
                        {{ entity.refcategory.name }}
                    </a>
                </li>
            </ul>
            <div>
                {{ entity.content|raw }}
            </div>
        </div>
    </div>
{% endblock %}
