{% set classBody = "AdminPages" %}
{% extends 'base.html.twig' %}

{% block content_title %}{{ title }}{% endblock %}
{% block body %}
    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('admin_dashboard') }}">{% if config['site_title'] is defined %}{{ config['site_title'] }}{% endif %}</a>
        <div class="navbar-custom-menu my-2 my-lg-0">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ asset('file/'~ app.user.avatar) }}" class="user-image" alt="User Image" />
                        <span class="hidden-xs">{{ app.user }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="{{ asset('file/'~ app.user.avatar) }}" class="img-circle" alt="User Image" />
                            <p>
                                {{ app.user }}
                            </p>
                        </li>
                        {#
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-md-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-md-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        #}
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="float-left">
                                <a href="{{ path('adminprofil_index') }}" class="btn btn-default btn-light">Profile</a>
                            </div>
                            <div class="float-right">
                                <a class="btn btn-default btn-light" href="{{ path('app_logout') }}">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        {% for link in menuadmin %}
                            <li class="nav-item">
                                {% if link.child is defined %}
                                    {{ link.title }}
                                    <ul>
                                        {% for child in link.child %}
                                            <li class="nav-item">
                                                <a class="nav-link {% if child.current is defined %} active{% endif %}" href="{{ path(child.url) }}">
                                                    {{ child.title }}{% if child.current is defined %} <span class="sr-only">(current)</span>{% endif %}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <a class="nav-link{% if link.current is defined %} active{% endif %}" href="{{ path(link.url) }}">
                                        {{ link.title }}{% if link.current is defined %} <span class="sr-only">(current)</span>{% endif %}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-10">
                <div class="row">
                    <div class="col">
                        <h1>{{ title }}</h1>
                    </div>
                    <div class="col text-right">
                        {% if url_view is defined or url_edit is defined or url_empty is defined or url_list is defined or url_trash is defined or url_new is defined or url_delete is defined or btnSave is defined %}
                            <div class="btn-group BtnActions" role="group" aria-label="Basic example">
                                {% if url_list is defined %}
                                    <a class="btn btn-secondary BtnActionList" href="{{ path(url_list) }}">
                                        <i class="fas fa-list"></i>
                                        <br />
                                        <span>Liste</span>
                                    </a>
                                {% endif %}
                                {% if url_view is defined and entity is defined %}
                                    <a class="btn btn-secondary BtnActionEdit" href="{{ path(url_view, {'id': entity.id}) }}">
                                        <i class="fas fa-eye"></i>
                                        <br />
                                        <span>Voir</span>
                                    </a>
                                {% endif %}
                                {% if url_edit is defined and entity is defined %}
                                    <a class="btn btn-secondary BtnActionEdit" href="{{ path(url_edit, {'id': entity.id}) }}">
                                        <i class="fas fa-edit"></i>
                                        <br />
                                        <span>Edit</span>
                                    </a>
                                {% endif %}
                                {% if url_empty is defined %}
                                    <a class="btn btn-secondary BtnActionEmpty" href="{{ path(url_empty) }}">
                                        <i class="fas fa-recycle"></i>
                                        <br />
                                        <span>Vider</span>
                                    </a>
                                {% endif %}
                                {% if url_trash is defined %}
                                    <a class="btn btn-secondary BtnActionTrash" href="{{ path(url_trash) }}">
                                        <i class="fas fa-trash"></i>
                                        <br />
                                        <span>Corbeille</span>
                                    </a>
                                {% endif %}
                                {% if btnSave is defined %}
                                    <a class="btn btn-secondary BtnActionSave" href="#">
                                        <i class="fas fa-save"></i>
                                        <br />
                                        <span>Sauvegarder</span>
                                    </a>
                                {% endif %}
                                {% if url_new is defined %}
                                    <a class="btn btn-secondary BtnActionAdd" href="{{ path(url_new) }}">
                                        <i class="fas fa-plus"></i>
                                        <br />
                                        <span>Ajouter</span>
                                    </a>
                                {% endif %}
                                {% if url_delete is defined %}
                                    <a class="btn btn-secondary BtnActionDelete" href="{{ path(url_delete) }}">
                                        <i class="fas fa-trash-alt"></i>
                                        <br />
                                        <span>Supprimer</span>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-12">
                        {% for label, messages in app.flashes %}
                            <div class="alert alert-{{ label }}">
                                <ul>
                                {% for message in messages %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
    {% block bodyAdmin %}

    {% endblock %}
            </main>
        </div>
    </div>
    {% if url_delete is defined %}
        {% include "admin/modal/delete.html.twig" %}
    {% endif %}
    {% if url_empty is defined %}
        {% include "admin/modal/empty.html.twig" %}
    {% endif %}
{% endblock %}
