<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('en') }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block page_title %}{{ block('content_title')|striptags|raw }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <div class="container">
        {% block body %}{% endblock %}
        {% if pagination is defined %}
            {{ knp_pagination_render(pagination) }}
        {% endif %}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
