{% import "macro.html.twig" as macroSite %}
{% extends 'site.html.twig' %}
{% block page_title %}{{ entity.name }}{% endblock %}
{% block aside %}
    <div>Liste des chapitres</div>
    <ul class="list-group">
        {% for i, rowChapitre in chapitres %}
            <li class="list-group-item">
                <a href="{{ path('history_show', {'slug': entity.slug, 'chapitre' : rowChapitre.position+1}) }}">
                    {{ rowChapitre.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block bodySite %}
    <div class="container">
        <div class="col-md-12">
            <article>
                <header>
                    <h1>{{ entity.name }}</h1>
                </header>
                {% if entity.file %}
                    <img src="{{ asset('file/'~entity.file) }}" title="{{ entity.name|e }}" class="img-fluid" />
                {% endif %}
                <ul>
                    {% if entity.refuser.id is defined %}
                        <li>
                            Créer par <a href="{{ path('history_user',{'user': entity.refuser.id}) }}">
                                {{ macroSite.user(entity.refuser) }}
                            </a>
                        </li>
                    {% endif %}
                    <li>
                        Créer le: {{ macroSite.timeago(entity.createdAt) }}
                    </li>
                    <li>
                        Modifier le: {{ macroSite.timeago(entity.updatedAt) }}
                    </li>
                    <li>
                        Nombre de chapitre: {{ entity.chapitresenabled|length }}
                    </li>
                </ul>
                <div>
                    {{ entity.resume|raw }}
                </div>
                <ul>
                    {% for i, rowChapitre in chapitres %}
                        <li>
                            <a href="{{ path('history_show', {'slug': entity.slug, 'chapitre' : rowChapitre.position+1}) }}">
                                {{ rowChapitre.name }} ({{ rowChapitre.createdAt|ago }})
                                {% if i+1 == entity.chapitres|length %}
                                    dernier
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                {% if chapitre is defined %}
                <div class="col-md-12">
                    <h3>{{ chapitre.name }}</h3>
                    {{ chapitre.content|raw }}
                </div>
                {% endif %}
            </article>
        </div>
    </div>
{% endblock %}
